/sh/hadoop/
/sh/hbase/
/sh/source.rc
/sh/*keytab
/.idea/libraries/
/sh/log4j.properties
/sh/param.properties
/project/project/
/target/scala-2.11/
/target/scala-2.12/
/target/streams/
/target/.history
